.name {
    color: #f3d3bd;font-family: 'Inconsolata', monospace;
            font-size:x-large;font-family: 'Inconsolata', monospace;
}
.h2
{
    color: #f3d3bd;
}
 
 body 
{
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}
#home {
	 
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
	/*background: -moz-linear-gradient(-45deg, rgb(45, 7, 197) 0%, rgb(57, 4, 36) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(202, 9, 128) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgb(5, 4, 70) 0%, rgba(142, 68, 173, 1) 100%);*/

}

 #experience 
{
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    /*background: -webkit-linear-gradient(-45deg, rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42)  100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);*/

}
#skills 
{
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    /*background: -webkit-linear-gradient(-45deg, rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);
    background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42)  100%);
    background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);*/


}
h1 {
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}

p {
	font-size: 12px;
	font-weight: light;
	
}

span a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.4s ease-in-out;
	&:hover {
		color: #ffffff;
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(215, 212, 5, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(83, 3, 123, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(13, 22, 197, 0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ava {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.suppoprt-me {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 20vw;
	max-width: 250px;
	min-width: 200px;
	z-index: 9;
	img {
		width: 100%;
		height: auto;
	}
}
    
    .work-pool1  {
         gap:20px ; width:100%; padding-left: 20px; padding-right: 20px;  
        color:white;  display:flex;  flex-direction:row;  margin-top: -3%;
        align-items:center; justify-content:space-around; flex-wrap:wrap-reverse;}
    
        .work-pool2  {
           gap:20px ; padding-left: 20px; padding-right: 20px;   margin-top: -3%;
           color:white;  display:flex;  flex-direction:row; width:100%;
           align-items:center; justify-content:space-around; flex-wrap:wrap-reverse;}
       
           .work-pool3 {
            gap:20px; padding-left: 20px; padding-right: 20px;  margin-top: -3%;
           color:white;  display:flex;  flex-direction:row; width:100%;
           align-items:center; justify-content:space-around; flex-wrap:wrap-reverse;}

           .work-item3
           {
          flex-grow:2;   margin:10px; font-family:monospace;   height:350px; border:40%;  padding:30px 0px;  text-align:center;
           }
           
           .work-item32
           {
          flex-grow:1;  margin:10px;font-family:monospace;  height:350px; border:40%;  padding:30px 0px;   text-align:center;
           }
    .work-item2
    {
    flex-grow:1; margin:10px; font-family:monospace;   height:350px; border:40%;
    padding:30px 0px; text-align:center;
    }
    .work-item1 
    {
    
   flex-grow: 2;  margin:10px;font-family:monospace;   height:350px; border:30%;  padding:30px 0px;  text-align:center;
   
    }
   
    .work-it1
    {
    
   flex-grow:1;  margin:10px;font-family:monospace;  height:350px; border:40%;  padding:30px 0px;  text-align:center;
   
    }
   .jobs 
   {
    display:block ; width:100%;  flex-wrap: column; row-gap:0px;
   /* background: -webkit-linear-gradient(-45deg, rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42)  100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);*/
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;

}
#totalwork
{ margin-top:-30px;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 padding-bottom:30px; 
}
#work-heading
{
   /* background: -webkit-linear-gradient(-45deg, rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42)  100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);*/
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    
}
   #contact
   { margin-top:-58px;
   /* background: -moz-linear-gradient(-45deg, rgb(45, 7, 197) 0%, rgb(57, 4, 36) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(202, 9, 128) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgb(5, 4, 70) 0%, rgba(142, 68, 173, 1) 100%);*/
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;


   }
  
   
    .work-it2
    {
    
   flex-grow:2;  margin:10px;font-family:monospace;   height:350px; border:40%;padding:30px 0px; text-align:center;
   
    }

.footer-bottom{
    font-size: 16px;
}
.landing {
    height: 100vh;  background-size: cover;  background-position: center;  display: flex; flex-direction: row;   align-items: center; 
    justify-content: space-around;
    position: relative; width: auto;
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.overlay-nav {
    position: fixed;
    top: 20px;
    z-index: 4;
    font-size: 16px;
    border-radius: 50px;
    transition: backdrop-filter 0.3s, background-color 0.3s;
    
}
@media (max-width: 768px)
{
.mobile-nav {
    display: none;
}}
body {
    font-family: Arial, sans-serif;
    background-color:#092635;
    overflow-x: hidden;
}
.overlay-nav ul {
    display: flex; width:auto; border-radius: 50px; 
    justify-content: space-between; background-color:#F4DFC8;
}
.overlay-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: center;
}
.overlay-nav ul li a {
    color: #092635;
    text-decoration: none;
    padding-left: 20px; 
    padding-right: 20px; padding-top: 10px; padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 25px;
}
#home h1 {
    font-size: 60px;
    position: relative;
}

.landing h1 {
    color: rgb(22, 184, 224);
   
    text-align: center;
    padding: 20px;
    border-radius: 24px;
}
.name {
    font-family: 'Inconsolata', monospace;
    z-index: 2; color:#FFF0CE;
}
@media (max-width: 768px){
#about {
    margin-bottom: 40px;
    padding-bottom: 20px;
}}

#about { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;  padding-top: 30px;
   /*background: -webkit-linear-gradient(-45deg, rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42)  100%);
	background: linear-gradient(135deg,rgb(27, 38, 49) 0%, rgb(13, 27, 42) 100%);*/
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    text-align: center;
    color: #F3D3BD;
}

@media screen and (max-width: 600px) {
    #skills {
        padding-top: 10px;
    }
}
#skills {
    padding: 50px 0;
    margin-top: 0px;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    display: block;
    unicode-bidi: isolate;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn-23 {
    border-radius: 99rem;
    border-width: 10px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: 10px; padding:20px;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.btn-23 {
   
    background-color: #030626;
   
    color: #f3d3bd;
    cursor: pointer; 
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
   font-size:1rem;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 10;
    text-transform: uppercase;
   
}

.btn-23 span {
    display: grid;
    inset: 0;
    place-items: center;
    position: absolute;
    transition: opacity 0.2s ease;
}

.btn-23 .marquee {
    --spacing: 5em;
    --start: 0em;
    --end: 5em;
    -webkit-animation: marquee 1s linear infinite;
    animation: marquee 1s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 0;
    position: relative;
  
}
.btn-23 span {
    display: grid;
    inset: 0;
    place-items: center;
    position: absolute;
    transition: opacity 0.2s ease;
}

.experience-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #24372f;
} 
@media (max-width: 767px)
{
.experience-container {
    flex-direction: column;
    padding: 20px;
    height: auto;
}}
.experience-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px){


.experience-timeline {
    margin-right: 0;
    margin-bottom: 30px;
}}
.experience-timeline {
    flex: 1;
    margin-right: 40px;
}
.experience-heading, .experience-timeline {
    line-height: 1.4;
}
@media (max-width: 767px)
{
.experience-heading {
    font-size: 50px;
    margin-bottom: 10px;
}} 
.experience-heading {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}
.experience-heading, .experience-timeline {
    line-height: 1.4;
}
.experience-item {
    margin-bottom: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div {
    display: block;
}

@media (max-width: 767px)
{
.experience-title {
    font-size: 40px;
}}
.experience-date {
    font-style: italic;
    font-size: 25px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media (max-width: 768px)
{
.work-heading {
    margin-top: 30px;
}}
.work-heading {
    margin-top: 60px;
    margin-bottom: 20px;
}
@media (max-width: 768px)
{
.work-heading {
    padding-top: 50px;
    padding-bottom: 20px;
}}
.work-heading {
    text-align: center;
    font-size: 40px;
    color: #f3d3bd;
    font-size: 50px;
    padding-top: 10px;
}

@media (max-width: 768px)
{
#work, #work2 {
    grid-template-columns: 100%;
}}
#work {
    display: flex;
    grid-template-columns: 40% 60%;
    grid-gap: 0px;
}

@media (max-width: 768px)
{
.work-item {
    height: 250px;
    padding: 10px;
    box-shadow: none;
} }

.work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.work-image {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@media (max-width: 768px)
{
.work-image img {
    border-radius: 24px;
} }
.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.work-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
footer {
   
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}


footer {
    display: block;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-column
{
    flex:1;
}
@media (max-width: 768px)
{
.footer-column h4 {
    font-size: 25px;
} }
.footer-column h4 {
    color: #f3d3bd;
    font-size: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
a:visited {
    color: white;
    text-decoration: none;
}
.avatars>* {
    width: var(--avatar-size);
    aspect-ratio: 1;
    height: auto;
    clip-path: circle(calc(var(--avatar-size) / 2 + var(--border-size) * 2));
    outline: none;
}

.avatars img {
    width: 100%;
    height: auto;
    --border-color: var(--color-core-primary);
    outline: var(--border-size) solid var(--border-color);
    outline-offset: calc(var(--border-size) * -2 + 1px);
    border: var(--border-size) solid var(--color-avatars-background);
    border-radius: var(--avatar-size);
    transition: all ease-in-out 0.15s;
}

/*avatars:where(:has(> *:nth-of-type(4):last-child)) {
    --num-children: 4;
}*/
.avatars {
    --grid-cell-size-to-use: var(--overlap-size);
}
.avatars {
    --gap: 0.35em;
    --avatar-size: 5em;
    --overlap-size: 2em;
    --hover-overlap-size: 4em;
    --border-size: 0.4em;
    --num-children: 4;
    --num-children-1: calc(var(--num-children) - 1);
    background: var(--color-avatars-background);
    border-radius: var(--avatar-size);
    display: grid;
    gap: var(--gap);
    padding: var(--gap);
    margin: 0 auto;
    grid-auto-flow: column;
    grid-template-columns: repeat(var(--num-children), var(--grid-cell-size-to-use));
     grid-auto-columns: var(--grid-cell-size-to-use); 
    width: calc(var(--grid-cell-size-to-use) * var(--num-children-1) + var(--gap) * var(--num-children) + var(--avatar-size) + var(--border-size));
    transition: all ease-in-out 0.25s;
    border: calc(var(--border-size) / 2) solid rgb(0 0 0 / 0.3);
}

:link {
    color: white;
    text-decoration: none;
}
.footer-bottom {
   
    padding: 10px 0;
    font-size: 14px;
}
.download-cv-button {
  font-size:20px;
    background-color:#24372f;
    padding: 5px 10px;
    text-decoration:underline;
    border-radius: 10px; font-size: 20px;
    display: inline-block;
}

.download-cv-button:hover {
    background-color:rgb(9, 134, 134);
}
.download-cv-button {
    display: flex; padding-top: 10px; padding-bottom: 10px;
    flex-direction: column;
    align-items: center; align-content: center;
    margin-top: 20px;  margin-left: 450px; margin-right: 450px;
    text-align: center;
}
@media (max-width: 768px) {
    .profile-info {
        padding: 10px; 
        font-size: 20px;
    }
}

a:visited {
    color: white;
    text-decoration: none;
}
@media (max-width: 768px)
{
#skills .skills-grid {
    display: flex; flex-wrap: wrap-reverse;
    overflow-x: auto;
    padding: 10px 0;
}}
.skills-grid {
   
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 20px; row-gap: 20px;
    justify-items:auto; justify-content: space-around;
    margin-top: 20px;
}
.skill-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skills-heading {
    text-align: center;
    font-size: 24px;
    color: #f3d3bd;
    font-size: 40px;
    font-size: 50px;
    padding-top: 70px;
    margin-bottom: 20px;
}

.skill-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-out;
}  

.work-item{
    display:flex;
    flex-direction:row;
    
    justify-content: space-around;
    align-items: stretch; 
    align-content:center;
    gap: 10px 20px;
}
@media (max-width: 768px) {
    .work-item {
        display: flex;
        flex-wrap:wrap-reverse;  
        align-items: center; 
        gap: 10px; 
    }
} 


:root {
	--color-core-primary: #3740ff;
	--color-core-tertiary: #6001ff;
	--color-core-bg: #fff;
	
	--color-avatars-background: #f8f9fa;
}

.avatars {
	--gap: 0.35em;
	--avatar-size: 5em;
	--overlap-size: 2em;
	--hover-overlap-size: 4em; /* Best to keep lower than --avatar-size so that there is still some overlap on hover */
	--border-size: 0.4em;
	--num-children: 4; /* Value is automatically updated based on the number of children. See :has() below. Does not work in Firefox though. */
	--num-children-1: calc(var(--num-children) - 1);

	background: var(--color-avatars-background);
	border-radius: var(--avatar-size);
	
	display: grid;
	gap: var(--gap);
	padding: var(--gap);
	margin: 0 auto;
	
	
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--num-children), var(--grid-cell-size-to-use));
/* 	grid-auto-columns: var(--grid-cell-size-to-use); */
	width: calc(var(--grid-cell-size-to-use) * var(--num-children-1) + var(--gap) * var(--num-children) + var(--avatar-size) + var(--border-size));
	transition: all ease-in-out 0.25s;

	border: calc(var(--border-size) / 2) solid rgb(0 0 0 / 0.3);
}

.avatars {
	--grid-cell-size-to-use: var(--overlap-size);
}


:is( /* Wrapped in an :is() to not break Firefox which does not support :has() */
  .avatars:hover,
  .avatars:not(hover):has(> :focus) /* Also grow when tabbing into the list */
) {
	--grid-cell-size-to-use: var(--hover-overlap-size, var(--avatar-size));
}

.avatars > * {
	width: var(--avatar-size);
	aspect-ratio: 1;
	height: auto;
	
	clip-path: circle(calc(var(--avatar-size) / 2 + var(--border-size) * 2));
	outline: none;
}

.avatars img {
	width: 100%;
	height: auto;
	
	--border-color: var(--color-core-primary);
	outline: var(--border-size) solid var(--border-color);
	outline-offset: calc(var(--border-size) * -2 + 1px); /* 1px extra to cater for rounding errors */
	
	border: var(--border-size) solid var(--color-avatars-background);
	border-radius: var(--avatar-size);
	
	transition: all ease-in-out 0.15s;
}

.avatars :is(:hover, :focus) > img {
	--border-color: var(--color-core-tertiary);
	
}

/* Update --num-children based on the number of children .avatars has */
.avatars:where(:has(> *:nth-of-type(1):last-child)) {
	--num-children: 1;
}
.avatars:where(:has(> *:nth-of-type(2):last-child)) {
	--num-children: 2;
}
.avatars:where(:has(> *:nth-of-type(3):last-child)) {
	--num-children: 3;
}
.avatars:where(:has(> *:nth-of-type(4):last-child)) {
	--num-children: 4;
}
.avatars:where(:has(> *:nth-of-type(5):last-child)) {
	--num-children: 5;
}

@keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  @-webkit-keyframes move-background {
    from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  @-moz-keyframes move-background {    
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
      @-webkit-keyframes move-background {
      from {
          -webkit-transform: translate3d(0px, 0px, 0px);
      }
      to { 
          -webkit-transform: translate3d(1000px, 0px, 0px);
      }
  }
  
  .background-container{
      position: absolute;
      top: 0;
      left:0;
      bottom: 0;
      right: 0;
  }
  
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
        z-index: 0;
  }
  
  .twinkling{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
  }
  
  .clouds{
      width:10000px;
      height: 100%;
      background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
      background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  
     -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
  }
  